@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
* {
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*------------------- choice quis start -----------------*/

body {
    background: url("img/22375933.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 5%;
    margin-left: 95px;
    display: flex;
    width: 90%;
    gap: 150px;
}

.card {
    width: 350px;
    border: 1px solid black;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.582);
    /*background-color: #6e09690c;*/
}

.textQuiz {
    font-size: 20px;
    font-family: 'Cinzel', serif;
    width: 348px;
    height: 70px;
    text-align: center;
    line-height: 4;
    color: #894ec2;
    background-color: rgba(0, 0, 0, 0.521)
}

.f1 {
    color: white;
    margin-top: 50px;
    margin-left: 130px;
    font-size: 100px;
}

.f2 {
    margin-left: 120px;
}

.small {
    flex-wrap: wrap;
    line-height: 3;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.582);
    width: 350px;
    height: 100px;
    border: 1px solid black;
}

.hide {
    color: yellow;
    margin-left: 300px;
    text-decoration: underline;
}

.b1 {
    margin-left: 110px;
}

.b2 {
    width: fit-content;
    height: fit-content;
}

.childDiv {
    display: flex;
    margin-top: 20px;
    width: 350px;
    height: 70px;
    /*background-color: white;*/
}

.childDiv button {
    background-color: #894ec2;
    ;
    width: 70px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.show {
    color: white;
    text-decoration: underline;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 3;
    width: fit-content;
    height: 50px;
}

.choice {
    padding: 0px 0px;
    min-height: 500px;
}

/* start title */

.title h2 {
    background-color: rgb(221, 166, 238);
    color: #353669;
    font-size: 40px;
    width: 70%;
    margin: 30px auto;
    text-align: center;
    padding: 25px;
    opacity: 0.9;
    border-bottom: 4px solid white;
    box-shadow: -5px 9px 22px -4px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.user-N {
    color: white;
}